.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.subtitle {
    font-size: 14px;
    margin-bottom: 20px;
}
.form-container label {
    margin-top: 10px;
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="password"] {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    background-color: #2b6cb0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
label input[type="radio"] {
    margin-right: 10px;
    margin-bottom: 20px;
}
